<div class="row"> 
        <div class="col-md-3">
                        <h1>Phone</h1>
                        <div class="vertical-menu">
                                <a routerLink="/new" routerLinkActive="active" id="bttn">Add to contacts</a>
                                <a routerLink="/contacts" routerLinkActive="active" id="bttn1">Contacts</a>
                        </div>
        </div>
        <div class="col-md-9 display">
                <router-outlet></router-outlet>
        </div>
</div>


